<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@blog) %>詳細画面</h1>
<% end %>
<!--↑タイトル表示枠-->

<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @blog %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<hr>

<div class="blog-text">
  <p><strong>タイトル</strong>：<%= @blog.title %></p>
  <p><strong>内容</strong>：<%= @blog.content %></p>
</div>

<p>コメント一覧（ここから下の内容が重要）</p>

<!-- このcomments_areaというHTMLのidを取得して、そのdivの部分だけを更新する -->
<div id="comments_area">
  <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
  <%= render partial: 'comments/index', locals: { comments: @comments, blog: @blog } %>
</div>

<!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
<%= render partial: 'comments/form', locals: { comment: @comment, blog: @blog } %>

<%= link_to '編集', edit_blog_path(@blog) %> |
<%= link_to '戻る', blogs_path %>
