<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@user) %>パスワード変更画面</h1>
<% end %>
<!--↑タイトル表示枠-->


<%= form_with(model: @user, url: update_password_user_path(@user.id), local: true ) do |form| %>

  <div class="field">
    <%= form.label "パスワード" %>
    <%= form.password_field :password, value: "", id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label "パスワード（確認用）" %>
    <%= form.password_field :password_confirmation, value: "", id: :user_password_digest %>
  </div>

  <div class="actions">
    <%= form.submit  "パスワードを変更します。" %>
  </div>
<% end %>
