<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@user) %>プロフィール編集画面</h1>
<% end %>
<!--↑タイトル表示枠-->


<%= form_with(model: @user, local: true) do |form| %>

  <div class="line_info">
    <%= form.label "名前",class: "line_content_1" %>
    <%= form.text_field :name, id: :user_name,class: "input_user_info line_content_2"%>
  </div>

  <div class="line_info">
    <%= form.label "メールアドレス",class: "line_content_1" %>
    <%= form.email_field :email, id: :user_email,class: "input_user_info line_content_2"%>
  </div>

  <div class="line_info">
  <%= form.label "写真" ,class: "line_content_1" %>
  <%= form.file_field :photo, id: "select_photo" ,class: "line_content_2" %>
  </div>
  <%= form.hidden_field :photo_cache %>

  <div class="line_photo_imageinfo">

  <!--↓ 「画像を削除する」かどうかの選択 -->
  <p>※更新時に画像が選択されていない場合、更新前の画像が維持されます。</p>
  <p>登録してある写真を削除する場合は↓の「削除する」を☑してください。</p>

  <%= form.check_box :remove_photo ,class: "chk_photo_delimage" %>
  <p class="chk_photo_delimage_label">写真を削除する</p>
  </div>
  <!--↑ 「画像を削除する」かどうかの選択 -->

  <!--↓ 「画像」の表示……登録処理時は、ここの値は使用しない -->
  <% if form.object.photo && form.object.photo.url %>
    <div class="box_user_photo">
    <%= image_tag(form.object.photo.url ,class: "box_photo_image_content")%>
    </div>
  <%  else %>
    <div class="line_info">
      <%= form.label "写真はまだ登録されていません。" ,class: "input_user_info line_content_2" %>
    </div>
  <%  end %>
  <!--↑ 「画像」の表示……登録処理時は、ここの値は使用しない -->

  <div class="line_info">
    <%= form.label "パスワードのヒント",class: "line_content_1" %>
    <%= form.text_field :pass_hint, id: :user_pass_hint ,class: "input_user_info line_content_2"%>
  </div>

  <div class="actions">
    <%= form.submit  "情報を変更します。" ,class:"btn btn-default btn_main_1"%>
  </div>
<% end %>
