<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head"><%= get_tablename_by_model(@user) %>登録画面</h1>
<% end %>
<!--↑タイトル表示枠-->


<%= form_with(model: @user, local: true) do |form| %>

  <div class="field">
    <%= form.label "名前" %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label "メールアドレス" %>
    <%= form.email_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label "パスワードのヒント" %>
    <%= form.text_field :pass_hint, id: :user_pass_hint %>
  </div>

  <div class="field">
    <%= form.label "パスワード" %>
    <%= form.password_field :password, id: :user_password_digest %>
  </div>

  <div class="field">
    <%= form.label "パスワード（確認用）" %>
    <%= form.password_field :password_confirmation, id: :user_password_digest %>
  </div>

  <div class="actions">
    <%= form.submit  "ユーザーを登録します。" %>
  </div>
<% end %>
