<!--↑エラーメッセージ表示枠……バリデーションエラーを出す画面ではこれを追加しておくこと。-->
<% content_for :show_msgerr do%>
  <%= render 'layouts/form_msgerr', model_info: @user %>
<% end %>
<!--↑エラーメッセージ表示枠-->

<!--↓タイトル表示枠-->
<% content_for :show_head_title do%>
  <h1 class="title_head">登録された<%= get_tablename_by_model(@user) %>情報です。</h1>
<% end %>
<!--↑タイトル表示枠-->

<p>
  <strong>名前:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>パスワードのヒント:</strong>
  <%= @user.pass_hint %>
</p>

<div class="">
  ログインすると、ユーザー画像が登録できます。
</div>
